img:hover{
    cursor:pointer;
}
button {
    color: beige;
    background: none; 
    margin-right: 5px;
}

body{
    background-color: whitesmoke;
}

img{
    margin-left: 10px;
}


.navbar{
    background-color: #1B2126;
    margin-bottom:1%;
}