form{
    margin:1%;
    padding-left:1%; 
    padding-bottom:1%; 
    background-color:#f8f9fa;
    padding-bottom: 4%;
}

#campo{
    font-weight: 100;
    text-transform: capitalize;
    color: #2c3e50 ;
}

input[type=submit]:hover{
    background-color: #46669c;
}

input[type=submit]{
    background-color: #46669c;
    border: none;
    position:absolute;
    bottom: 0;
    margin: 4% 50% 4% 25%;
}