body{
    font-family: 'Roboto';
}
.company-name{
    text-transform: capitalize;
}

form{
    margin:1%;
    padding-left:1%; 
    padding-top:2%; 
    background-color:#f8f9fa;
    padding-bottom: 2%;
}

#campo{
    font-weight: 100;
    text-transform: capitalize;
    color: #2c3e50 ;
}

input[type=submit]{
    background-color: #46669c;
    border:none;    
}

input[type=submit]:hover{
    background-color: #46669c;
}

.job_button{
    background-color: #46669c;
    border: none;
    width:100%;
}
.ofertas{
    font-weight: 100;
    display:inline;
}
